.timer{
  border:3px solid black;
  background-color: aquamarine;
  margin:100px auto;
  border-radius:100%;
  width:200px;
  height:200px;
}
.one{
  margin-top:80px;
}
span{
  background-color:slategray;
  border-radius:7px;
  padding:2px;
  font-size:25px; 
}
button{
  text-align: center;
  margin:40px 10px 0 0;
  background-color:seagreen;
  width:14%;
  border-radius:100%;
  font-size:larger;
}